<center>
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Sistema</b>Bibliotecario</a>
    <br><br><br>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body ">
      <p class="login-box-msg">Iniciar Secion</p>

      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="pass_usuario" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          
          
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</center>