<div class="content-wrapper">
    
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Usuarios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item"><a href="/usuarios">Usuarios</a></li>
              <li class="breadcrumb-item active">Agregar</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- contenedor -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Agregar Usuarios</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool .btn-flat" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
              
              </div>              
            </div>
            

            <div class="card-body">
            <form action="/usuarios/add" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Nombres</label>
      <input type="text" class="form-control" name="nombres" placeholder="Nombres" autofocus>
    </div>
    <div class="form-group col-md-6">
      <label >Apellidos</label>
      <input type="text" class="form-control" name="apellidos" placeholder="Apellidos">
    </div>
  </div>

 <div class="form-row">
    <div class="form-group col-md-6">
      <label >Cedula de Identidad</label>
      <input type="text" class="form-control" name="ci" placeholder="Cedula de Identidad">
    </div>
    <div class="form-group col-md-6">
      <label >Correo Electronico</label>
      <input type="email" class="form-control" name="email" placeholder="Correo Electronico">
    </div>
  </div>
  
 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Telefono</label>
      <input type="text" class="form-control" name="telefono" placeholder="Telefono">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Contraseña</label>
      <input type="password" class="form-control" name="pass_usuario" placeholder="Contraseña">
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Tipo Usuario</label>
      <select name="id_tipousuario" class="form-control">
        <option selected>Tipo Usuario</option>
        {{#each tipousuario}}
        <option>{{denominacion}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
            </div>
            
          </div>
         
        </div>
      
      </div>
    
    </section>
  
  </div>
</div>