<!DOCTYPE html>
<html lang="en">
<head>
   <title>Sistema bibliotecario</title>
    <meta charset="UTF-8">
     <meta name="author" content="https://www.facebook.com/javier.velasque.562" />
    <meta name="description" content="Sistema Bibliotecario del Instituto Superior Tecnologico  Vicente Leon" />
    <meta name="Keywors" content="biblioteca,  vicente, leon, prestamos, libros, estado,">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {{#if user}}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/adminlte.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {{else}}
  <link rel="stylesheet" href="/css/adminlte.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
   <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  {{/if}}
  <link rel="shortcut icon" href="https://res.cloudinary.com/dzcptjcns/image/upload/t_media_lib_thumb/v1592336787/WhatsApp_Image_2020-04-07_at_12.03.52_PM_wty4jw.jpg" type="image/x-icon">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {{>navegation}}
  {{>message}}
 
  <main>
{{{ body}}}
  </main>
    


    </div>
    
</body>
{{#if user}}
 {{>footer}}
 {{/if }}
<script src="/js/jquery.js"></script>
<script src="/js/adminlte.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/table.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 
      <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
        <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
</html>